{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=270px width=200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a graduate of UT Austin.</h3>
        <h3>I have a Bachelor's of Science and Arts Degree in Biology.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="Madison Brenner Resume - 4.6.20.pdf" target="_blank">resume</a>
        <h3>Contact me at this <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
